# Documentation: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM

# Basic
IndentWidth: 4
UseTab: AlignWithSpaces
TabWidth: 4
ColumnLimit: 120
PointerAlignment: Left

# Flow control
IndentCaseLabels: true

# Braces and block
BreakBeforeBraces: Allman 
SpaceBeforeCpp11BracedList: true
AllowShortBlocksOnASingleLine: Never

# Function
IndentWrappedFunctionNames: false
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
AllowShortFunctionsOnASingleLine: InlineOnly

# Namespace
NamespaceIndentation: None

# Class Decl
AccessModifierOffset: -4
#IndentAccessModifiers: false (v13)
EmptyLineBeforeAccessModifier: Always
#EmptyLineAfterAccessModifier: Never (v14)

# Class Def
BreakConstructorInitializers: BeforeComma

# Misc
AlignEscapedNewlines: DontAlign